@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Rock+Salt');
@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Coming+Soon');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');
@import url('https://fonts.googleapis.com/css?family=VT323');



body {
	background-color: #1A1A1D;
}

#header {
  font-family: 'Fjalla One', sans-serif;
  color: #6F2232;
}

#fcc-link {
  color: #7f8082;
  text-decoration: none;
}

#fcc-link:hover {
  color: #6F2232;
}

#subheader {
  color: #7f8082;
}

#gameBoard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row {
  justify-content: center;
}

.board {
  border: 1px solid #1a1a1d;
  font-family: 'Annie Use Your Telescope', sans-serif;
  font-size: 3vw;
  color: red;
  padding: 20px;
  background-color: white;
  height: 100px;
  width: 100px;
  box-shadow: 4px 4px 5px grey;
}

#x, #o {
  background-color: #7f8082;
  margin: 2px;
  font-family: 'Annie Use Your Telescope', sans-serif;
  font-size: 2vw;
}

#first {
  color: #6F2232;
  font-family: 'Fjalla One', sans-serif;
}

#win, #lose, #tie {
  background-color: grey;
  color: #ffedf0;
  font-family: 'Roboto Condensed', sans-serif;
}

.hide {
  display: none !important;
}

#scoreboard {
  background-color: #7f8082;
  height: 60px;
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 12px;
  margin-top: 15px;
  border: 2px solid #000;
}

#player-score, #computer-score {
  width: 50px;
  height: 50px;
  background-color: #000;
  margin: 2px;
  border-radius: 12px;
  color: red;
  font-size: 2em;
  font-family: 'VT323', sans-serif;
}

#bottom {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.1vw;
  margin: 3px;
  margin-top: 15px;
}

.fa {
  color: #fff;
}

.fa:hover {
  color: #6F2232;
}
